<div class="container-fluid">
  <img class="hof" src="<%= image_path('hof.png') %>" />
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h3>Most Championship Wins</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Wins</th>
              <th scope="col">Seasons</th>
            </tr>
          </thead>
          <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.total_championship_wins }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.total_championship_wins == sorted[idx]&.total_championship_wins ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.total_championship_wins %></th>
                <th><%= user.championship_seasons.map(&:season_year).map(&:to_i).join(', ') %></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h3>Most Regular Season Wins</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Wins</th>
              <th scope="col">Seasons</th>
            </tr>
          </thead>
          <tbody>
          <% rank = 1; sorted = @users.sort_by { |user| -user.total_regular_season_wins }; sorted.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= sorted[[idx - 1, 0].max]&.total_regular_season_wins == sorted[idx]&.total_regular_season_wins ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
              <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
              <th><%= user.total_regular_season_wins %></th>
              <th><%= user.regular_season_win_seasons.map(&:season_year).map(&:to_i).join(', ') %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h3>Most Playoff Appearances</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Playoffs</th>
            <th scope="col">Seasons</th>
          </tr>
          </thead>
          <tbody>
          <% rank = 1; sorted = @users.sort_by { |user| -user.total_playoff_appearances }; sorted.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= sorted[[idx - 1, 0].max]&.total_playoff_appearances == sorted[idx]&.total_playoff_appearances ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
              <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
              <th><%= user.total_playoff_appearances %></th>
              <th><%= user.playoff_appearance_seasons.map(&:season_year).map(&:to_i).join(', ') %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h3>Highest Playoff Rate</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Rate</th>
            <th scope="col">Playoffs</th>
            <th scope="col">Seasons</th>
          </tr>
          </thead>
          <tbody>
          <% rank = 1; sorted = @users.sort_by { |user| -user.playoff_rate }; sorted.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= sorted[[idx - 1, 0].max]&.playoff_rate == sorted[idx]&.playoff_rate ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
              <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
              <th><%= user.playoff_rate %>%</th>
              <th><%= user.total_playoff_appearances %></th>
              <th><%= user.total_seasons %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h3>Best Average Finish</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Average</th>
          </tr>
          </thead>
          <tbody>
          <% rank = 1; sorted = @users.sort_by { |user| user.average_final_finish }; sorted.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= sorted[[idx - 1, 0].max]&.average_final_finish == sorted[idx]&.average_final_finish ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
              <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
              <th><%= user.average_final_finish %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h3>Best Average Regular Season Finish</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Average</th>
            </tr>
          </thead>
          <tbody>
          <% rank = 1; sorted = @users.sort_by { |user| user.average_regular_season_finish }; sorted.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= sorted[[idx - 1, 0].max]&.average_regular_season_finish == sorted[idx]&.average_regular_season_finish ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
              <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
              <th><%= user.average_regular_season_finish %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h3>Highest Average Points Scored</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Average</th>
          </tr>
          </thead>
          <tbody>
          <% rank = 1; sorted = @users.sort_by { |user| -user.average_points_scored }; sorted.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= sorted[[idx - 1, 0].max]&.average_points_scored == sorted[idx]&.average_points_scored ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
              <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
              <th><%= user.average_points_scored %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h3>Highest Average Margin of Victory</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Average</th>
          </tr>
          </thead>
          <tbody>
          <% rank = 1; sorted = @users.sort_by { |user| -user.average_margin_of_victory }; sorted.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= sorted[[idx - 1, 0].max]&.average_margin_of_victory == sorted[idx]&.average_margin_of_victory ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
              <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
              <th><%= user.average_margin_of_victory %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h3>Matchup Independent Record</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Win %</th>
              <th scope="col">Record</th>
            </tr>
          </thead>
          <tbody>
          <% rank = 1; sorted = @users.sort_by { |user| -user.points_for_mir(user.matchup_independent_record(user.games_from_involved_seasons, 'alltime')) }; sorted.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= sorted[[idx - 1, 0].max]&.average_points_scored == sorted[idx]&.average_points_scored ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
              <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
              <th><%= user.points_for_mir(user.matchup_independent_record(user.games_from_involved_seasons, 'alltime')) %></th>
              <th><%= user.matchup_independent_record(user.games_from_involved_seasons, 'alltime') %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h3>Highest Side Bet Winrate</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Win %</th>
            <th scope="col">Wins</th>
            <th scope="col">Losses</th>
          </tr>
          </thead>
          <tbody>
          <% rank = 1; sorted = @users.sort_by { |user| -user.side_bet_winrate }; sorted.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= sorted[[idx - 1, 0].max]&.side_bet_winrate == sorted[idx]&.side_bet_winrate ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
              <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
              <th><%= user.side_bet_winrate %>%</th>
              <th><%= user.side_bet_wins %></th>
              <th><%= user.side_bet_losses %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>