<div class="container-fluid">
  <img class="hof" src="<%= image_path('hof.png') %>" />
  <div class="row margin-below">
    <h1 class="col border-bottom">
      <img class="expand" data-toggle="collapse" data-target="#finishes" aria-expanded="true" aria-controls="finishes" src="<%= image_path('expand.png') %>" /> Finishes (Raw)
    </h1>
  </div>
  <div class="collapse" id="finishes">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Most Championship Wins</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Wins</th>
              <th scope="col">Seasons</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.total_championship_wins }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.total_championship_wins == sorted[idx]&.total_championship_wins ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.total_championship_wins %></th>
                <th><%= user.calculated_stats.championships['seasons'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Most Second-Place Finishes</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Finishes</th>
              <th scope="col">Seasons</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.total_second_place_seasons }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.total_second_place_seasons == sorted[idx]&.total_second_place_seasons ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.total_second_place_seasons %></th>
                <th><%= user.calculated_stats.second_place_finishes['seasons'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Most Regular Season Wins</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Wins</th>
              <th scope="col">Seasons</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.total_regular_season_wins }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.total_regular_season_wins == sorted[idx]&.total_regular_season_wins ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.total_regular_season_wins %></th>
                <th><%= user.calculated_stats.regular_season_wins['seasons'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Most Playoff Appearances</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Playoffs</th>
              <th scope="col">Seasons</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.total_playoff_appearances }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.total_playoff_appearances == sorted[idx]&.total_playoff_appearances ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.total_playoff_appearances %></th>
                <th><%= user.playoff_appearance_seasons.map(&:season_year).map(&:to_i).join(', ') %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-below">
    <h1 class="col border-bottom">
      <img class="expand" data-toggle="collapse" data-target="#avgfinishes" aria-expanded="true" aria-controls="avgfinishes" src="<%= image_path('expand.png') %>" /> Finishes (Average)
    </h1>
  </div>
  <div class="collapse" id="avgfinishes">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Best Average Finish</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Average</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| user.average_final_finish.zero? ? 10.0 : user.average_final_finish }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.average_final_finish == sorted[idx]&.average_final_finish ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.average_final_finish.zero? ? 'N/A' : user.average_final_finish %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Best Average Regular Season Finish</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Average</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| user.average_regular_season_finish.zero? ? 10.0 : user.average_regular_season_finish }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.average_regular_season_finish == sorted[idx]&.average_regular_season_finish ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.average_regular_season_finish.zero? ? 'N/A' : user.average_regular_season_finish %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Highest Playoff Rate</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Rate</th>
              <th scope="col">Playoffs</th>
              <th scope="col">Seasons</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.playoff_rate }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.playoff_rate == sorted[idx]&.playoff_rate ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.playoff_rate %>%</th>
                <th><%= user.total_playoff_appearances %></th>
                <th><%= user.total_seasons %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-below">
    <h1 class="col border-bottom">
      <img class="expand" data-toggle="collapse" data-target="#stats" aria-expanded="true" aria-controls="stats" src="<%= image_path('expand.png') %>" /> Points & Averages
    </h1>
  </div>
  <div class="collapse" id="stats">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Highest Average Points Scored (ESPN)</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Average</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.calculated_stats.average_points_espn }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.calculated_stats.average_points_espn == sorted[idx]&.calculated_stats.average_points_espn ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.calculated_stats.average_points_espn %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Highest Average Points Scored (Yahoo)</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Average</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.calculated_stats.average_points_yahoo }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.calculated_stats.average_points_yahoo == sorted[idx]&.calculated_stats.average_points_yahoo ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.calculated_stats.average_points_yahoo %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Highest Average Margin of Victory</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Average</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.average_margin_of_victory }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.average_margin_of_victory == sorted[idx]&.average_margin_of_victory ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.average_margin_of_victory %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Matchup Independent Record</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Win %</th>
              <th scope="col">Record</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.calculated_stats.mir.dig('alltime', 'points') }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.calculated_stats.mir.dig('alltime', 'points') == sorted[idx]&.calculated_stats.mir.dig('alltime', 'points') ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.calculated_stats.mir.dig('alltime', 'points') %>%</th>
                <th><%= user.calculated_stats.mir.dig('alltime', 'record_string') %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-below">
    <h1 class="col border-bottom">
      <img class="expand" data-toggle="collapse" data-target="#game-level" aria-expanded="true" aria-controls="game-level" src="<%= image_path('expand.png') %>" /> Single Game Stats
    </h1>
  </div>
  <div class="collapse" id="game-level">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Highest Single-Week ESPN Games <img class="questionmark" data-toggle="tooltip" title="Excludes weeks part of a two game playoff" src="<%= image_path('tooltip.png') %>" /></h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Points</th>
              <th scope="col">Week</th>
            </tr>
            </thead>
            <tbody>
            <% @gls.highest_score_espn.each_with_index do |game, idx| %>
              <tr>
                <th scope="row"><%= (idx += 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(game['player_id']) %>"><%= Rails.cache.fetch("nickname_#{game['player_id']}") %></a></th>
                <th><%= game['score'].round(2) %></th>
                <th><%= render "shared/game_link", id: game['id'], year: game['year'], week: game['week'], opponent_id: game['opponent_id'], lineup: game['lineup'], total_points: game['total_points'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Highest Yahoo Games</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Points</th>
              <th scope="col">Week</th>
            </tr>
            </thead>
            <tbody>
            <% @gls.highest_score_yahoo.each_with_index do |game, idx| %>
              <tr>
                <th scope="row"><%= (idx += 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(game['player_id']) %>"><%= Rails.cache.fetch("nickname_#{game['player_id']}") %></a></th>
                <th><%= game['score'].round(2) %></th>
                <th><a href="<%= stats_path(year: game['year'], week: game['week']) %>"><%= game['year'] %> - Week <%= game['week'] %></a> vs <a href="<%= user_profile_path(game['opponent_id']) %>"><%= Rails.cache.fetch("nickname_#{game['opponent_id']}") %></a></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Biggest T-Baggings All-Time</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Score</th>
              <th scope="col">Opponent Score</th>
              <th scope="col">Margin</th>
              <th scope="col">Week</th>
            </tr>
            </thead>
            <tbody>
            <% @gls.largest_margin.each_with_index do |game, idx| %>
              <tr>
                <th scope="row"><%= (idx += 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(game['player_id']) %>"><%= Rails.cache.fetch("nickname_#{game['player_id']}") %></a></th>
                <th><%= game['score'].round(2) %></th>
                <th><%= game['opponent_score'].round(2) %></th>
                <th scope="row"><%= game['margin'].round(2) %></th>
                <th><a href="<%= stats_path(year: game['year'], week: game['week']) %>"><%= game['year'] %> - Week <%= game['week'] %></a> vs <a href="<%= user_profile_path(game['opponent_id']) %>"><%= Rails.cache.fetch("nickname_#{game['opponent_id']}") %></a></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Narrowest Cuckings All-Time</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Score</th>
              <th scope="col">Opponent Score</th>
              <th scope="col">Margin</th>
              <th scope="col">Week</th>
            </tr>
            </thead>
            <tbody>
            <% @gls.narrowest_margin.each_with_index do |game, idx| %>
              <tr>
                <th scope="row"><%= (idx += 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(game['player_id']) %>"><%= Rails.cache.fetch("nickname_#{game['player_id']}") %></a></th>
                <th><%= game['score'].round(2) %></th>
                <th><%= game['opponent_score'].round(2) %></th>
                <th scope="row"><%= game['margin'].round(2) %></th>
                <th><a href="<%= stats_path(year: game['year'], week: game['week']) %>"><%= game['year'] %> - Week <%= game['week'] %></a> cucked by <a href="<%= user_profile_path(game['opponent_id']) %>"><%= Rails.cache.fetch("nickname_#{game['opponent_id']}") %></a></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-below">
    <h1 class="col border-bottom">
      <img class="expand" data-toggle="collapse" data-target="#shame" aria-expanded="true" aria-controls="shame" src="<%= image_path('expand.png') %>" /> Dubious Honors
    </h1>
  </div>
  <div class="collapse" id="shame">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Most Times Fondling the Sacko</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Sackos</th>
              <th scope="col">Seasons</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.total_sacko_seasons }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.total_sacko_seasons == sorted[idx]&.total_sacko_seasons ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.total_sacko_seasons %></th>
                <th><%= user.calculated_stats.sacko_seasons['seasons'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Lowest Scoring Games</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Points</th>
              <th scope="col">Week</th>
            </tr>
            </thead>
            <tbody>
            <% @gls.lowest_score.each_with_index do |game, idx| %>
              <tr>
                <th scope="row"><%= (idx += 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(game['player_id']) %>"><%= Rails.cache.fetch("nickname_#{game['player_id']}") %></a></th>
                <th><%= game['score'].round(2) %></th>
                <th><%= render "shared/game_link", id: game['id'], year: game['year'], week: game['week'], opponent_id: game['opponent_id'], lineup: game['lineup'], total_points: game['total_points'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-below">
    <h1 class="col border-bottom">
      <img class="expand" data-toggle="collapse" data-target="#hustling" aria-expanded="true" aria-controls="hustling" src="<%= image_path('expand.png') %>" /> Hustling
    </h1>
  </div>
  <div class="collapse" id="hustling">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Party Starter</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Total Proposed Hustles</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.calculated_stats.side_bet_results['proposed'] }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.calculated_stats.side_bet_results['proposed'] == sorted[idx]&.calculated_stats.side_bet_results['proposed'] ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.calculated_stats.side_bet_results['proposed'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Top Shark</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Side Hustle Wins</th>
              <th scope="col">Side Hustle Losses</th>
              <th scope="col">Side Hustle Winrate</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.calculated_stats.side_bet_results['winrate'] }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.calculated_stats.side_bet_results['winrate'] == sorted[idx]&.calculated_stats.side_bet_results['winrate'] ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <td><%= user.calculated_stats.side_bet_results['wins'] %></td>
                <td><%= user.calculated_stats.side_bet_results['losses'] %></td>
                <th><%= user.calculated_stats.side_bet_results['winrate'] %>%</th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Action Taker</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Total Bets Taken</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; sorted = @users.sort_by { |user| -user.calculated_stats.side_bet_results['accepted'] }; sorted.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= sorted[[idx - 1, 0].max]&.calculated_stats.side_bet_results['accepted'] == sorted[idx]&.calculated_stats.side_bet_results['accepted'] ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></th>
                <th><%= user.calculated_stats.side_bet_results['accepted'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-below">
    <h1 class="col border-bottom">
      <img class="expand" data-toggle="collapse" data-target="#faab" aria-expanded="true" aria-controls="faab" src="<%= image_path('expand.png') %>" /> FAAB Shop
    </h1>
  </div>
  <div class="collapse" id="faab">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Load Blowers Anonymous</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Year/Week</th>
              <th scope="col">Player</th>
              <th scope="col">Bid</th>
              <th scope="col">Bid Successful</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; @faab.biggest_load.each_with_index do |transaction, idx| %>
              <tr>
                <th scope="row"><%= @faab.biggest_load[[idx - 1, 0].max]&.dig('amount') == @faab.biggest_load[idx]&.dig('amount') ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><%= render "shared/user_link", user_id: transaction['user_id'] %></th>
                <th><%= transaction['year'] %> - Week <%= transaction['week'] %></th>
                <th><%= @players[transaction['player_id'].to_s].name %></th>
                <th scope="row"><%= number_to_currency(transaction['amount']) %></th>
                <th><%= transaction['success'] ? 'Yes' : 'No' %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Biggest Overpays</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Year/Week</th>
              <th scope="col">Player</th>
              <th scope="col">Bid</th>
              <th scope="col">Next Highest Bid</th>
              <th scope="col">Next Highest Bidder</th>
              <th scope="col">Overpay</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; @faab.biggest_overpay.each_with_index do |transaction, idx| %>
              <tr>
                <th scope="row"><%= @faab.biggest_overpay[[idx - 1, 0].max]&.dig('overpay') == @faab.biggest_overpay[idx]&.dig('overpay') ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><%= render "shared/user_link", user_id: transaction['user_id'] %></th>
                <th><%= transaction['year'] %> - Week <%= transaction['week'] %></th>
                <th><%= @players[transaction['player_id'].to_s].name %></th>
                <th><%= number_to_currency(transaction['amount']) %></th>
                <th><%= number_to_currency(transaction['next_highest_amount']) %></th>
                <th><% if transaction['next_highest_user_id'].present? %><%= render "shared/user_link", user_id: transaction['next_highest_user_id'] %><% else %>Nobody<% end %></th>
                <th scope="row"><%= number_to_currency(transaction['overpay']) %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Narrowest FAAB Cuckings</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Year/Week</th>
              <th scope="col">Player</th>
              <th scope="col">Bid</th>
              <th scope="col">Winning Bid</th>
              <th scope="col">Winning User</th>
              <th scope="col">Margin</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; @faab.narrowest_fail.each_with_index do |transaction, idx| %>
              <tr>
                <th scope="row"><%= @faab.narrowest_fail[[idx - 1, 0].max]&.dig('margin') == @faab.narrowest_fail[idx]&.dig('margin') ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><%= render "shared/user_link", user_id: transaction['user_id'] %></th>
                <th><%= transaction['year'] %> - Week <%= transaction['week'] %></th>
                <th><%= @players[transaction['player_id'].to_s].name %></th>
                <th><%= number_to_currency(transaction['amount']) %></th>
                <th><%= number_to_currency(transaction['winning_amount']) %></th>
                <th><%= render "shared/user_link", user_id: transaction['winning_user_id'] %></th>
                <th scope="row"><%= number_to_currency(transaction['margin']) %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Most Impactful (Total) <img class="questionmark" data-toggle="tooltip" title="Most points scored (only while active) after being picked up" src="<%= image_path('tooltip.png') %>" /></h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Year/Week</th>
              <th scope="col">Player</th>
              <th scope="col">Bid</th>
              <th scope="col">Points Scored ROS</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; @faab.most_impactful.each_with_index do |transaction, idx| %>
              <tr>
                <th scope="row"><%= @faab.most_impactful[[idx - 1, 0].max]&.dig('points_scored') == @faab.most_impactful[idx]&.dig('points_scored') ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><%= render "shared/user_link", user_id: transaction['user_id'] %></th>
                <th><%= transaction['year'] %> - Week <%= transaction['week'] %></th>
                <th><%= @players[transaction['player_id'].to_s].name %></th>
                <th><%= number_to_currency(transaction['amount']) %></th>
                <th><%= transaction['points_scored'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Most Impactful (PPG) <img class="questionmark" data-toggle="tooltip" title="Most ppg scored (only while active) after being picked up" src="<%= image_path('tooltip.png') %>" /></h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Year/Week</th>
              <th scope="col">Player</th>
              <th scope="col">Bid</th>
              <th scope="col">PPG ROS</th>
              <th scope="col">Games Active</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; @faab.most_impactful_ppg.each_with_index do |transaction, idx| %>
              <tr>
                <th scope="row"><%= @faab.most_impactful_ppg[[idx - 1, 0].max]&.dig('ppg') == @faab.most_impactful_ppg[idx]&.dig('ppg') ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><%= render "shared/user_link", user_id: transaction['user_id'] %></th>
                <th><%= transaction['year'] %> - Week <%= transaction['week'] %></th>
                <th><%= @players[transaction['player_id'].to_s].name %></th>
                <th><%= number_to_currency(transaction['amount']) %></th>
                <th><%= transaction['ppg'] %></th>
                <th><%= transaction['games_played'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Most Impactful (Points Per Dollar)</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Year/Week</th>
              <th scope="col">Player</th>
              <th scope="col">Bid</th>
              <th scope="col">Points Scored</th>
              <th scope="col">Points Per Dollar</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; @faab.most_impactful_ppd.each_with_index do |transaction, idx| %>
              <tr>
                <th scope="row"><%= @faab.most_impactful_ppd[[idx - 1, 0].max]&.dig('ppg') == @faab.most_impactful_ppd[idx]&.dig('ppg') ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><%= render "shared/user_link", user_id: transaction['user_id'] %></th>
                <th><%= transaction['year'] %> - Week <%= transaction['week'] %></th>
                <th><%= @players[transaction['player_id'].to_s].name %></th>
                <th><%= number_to_currency(transaction['amount']) %></th>
                <th><%= transaction['points_scored'] %></th>
                <th><%= transaction['ppd'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-below">
    <h1 class="col border-bottom">
      <img class="expand" data-toggle="collapse" data-target="#h2h" aria-expanded="true" aria-controls="h2h" src="<%= image_path('expand.png') %>" /> Head to Head Records
    </h1>
  </div>
  <div class="collapse" id="h2h">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Player</th>
              <% @users.each do |user| %>
                <th>vs. <%= user.random_nickname %></th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.random_nickname %></td>
                <% @users.each do |opponent| %>
                  <% if user == opponent %>
                    <td>N/A</td>
                  <% else %>
                    <td class="<%= user.calculated_stats.lifetime_record.dig(opponent.id.to_s, 'color') %>"><%= user.calculated_stats.lifetime_record.dig(opponent.id.to_s, 'record_string') %></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-below">
    <h1 class="col border-bottom">
      <img class="expand" data-toggle="collapse" data-target="#bestball" aria-expanded="true" aria-controls="bestball" src="<%= image_path('expand.png') %>" /> Top Tier Testicles
    </h1>
  </div>
  <div class="collapse" id="bestball">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="table-responsive">
          <table class="table table-striped sortable">
            <thead>
              <tr>
                <th>Player</th>
                <% (1..12).each do |finish| %>
                  <th><%= finish.ordinalize %></th>
                <% end %>
                <th>Avg Rank Above Last Place</th>
                <th>Total Played</th>
                <th>Win Rate</th>
              </tr>
            </thead>
            <tbody>
              <% @users.sort_by { |u| u.calculated_stats.best_ball_results["win_rate"] || 0 }.reverse.each do |user| %>
                <tr>
                  <td><%= user.random_nickname %></td>
                  <% (1..12).each do |finish| %>
                    <td><%= user.calculated_stats.best_ball_results[finish.to_s] || 0 %></td>
                  <% end %>
                  <td><%= user.calculated_stats.best_ball_results["average"]&.round(2) || "-" %></td>
                  <td><%= user.calculated_stats.best_ball_results["total_played"] || 0 %></td>
                  <td><%= user.calculated_stats.best_ball_results["win_rate"] || 0 %>%</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>