<div class="container-fluid">
  <form action="<%= best_ball_path %>" method="get">
    <div class="row justify-content-center margin-below">
      <div class="col-xs-3 col-lg-2 mobile-margin-below">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="year">
          <% (2012..Date.today.year).reverse_each do |year| %>
            <% if year.to_i == @year.to_i %>
              <option selected value="<%= year %>"><%= year %></option>
            <% else %>
              <option value="<%= year %>"><%= year %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div class="col-xs-3 col-lg-2 mobile-margin-below">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="week">
          <% if @week %>
            <option value="season">Season Stats</option>
          <% else %>
            <option selected value="season">Season Stats</option>
          <% end %>
          <% (1..16).each do |week| %>
            <% if week.to_i == @week.to_i %>
              <option selected value="<%= week %>">Week <%= week %></option>
            <% else %>
              <option value="<%= week %>">Week <%= week %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div class="col-xs-3 col-lg-1">
        <div class="text-center">
          <button type="submit" class="btn btn-primary mb-2 min-width-button">Go</button>
        </div>
      </div>
    </div>
  </form>
  <% if @week %>
    <% @leagues.each do |league| %>
      <%= render "week", week: @week, year: @year, league: league, games: @games %>
    <% end %>
  <% else %>
    <% @leagues.each do |league| %>
      <%= render "season", year: @year, league: league %>
    <% end %>
  <% end %>
</div>