<h3>Resolved Season Bets for <%= @year == 'ALL' ? 'All Years' : @year %></h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Season Year</th>
      <th scope="col">Bet Type</th>
      <th scope="col">Terms</th>
      <th scope="col">Amount</th>
      <th scope="col">Proposer</th>
      <th scope="col">Taker</th>
      <th scope="col">Final Results</th>
      <th scope="col">Bet Outcome</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <% @resolved_season_bets.each do |sba| %>
      <tr>
        <td><%= sba.side_bet.season_year %></td>
        <td><%= @season_bet_types[sba.side_bet.bet_type.to_sym] %></td>
        <td><%= sba.side_bet.terms_description %></td>
        <td><%= number_to_currency(sba.side_bet.amount) %><% if sba.side_bet.odds && sba.side_bet.odds != '1:1' %>, paying <%= sba.side_bet.odds %><img class="questionmark" data-toggle="tooltip" title="<%= sba.side_bet.amount_clarification %>" src="<%= image_path('tooltip.png') %>" /><% end %></td>
        <th scope="row"><a href="<%= user_profile_path(sba.side_bet.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.user_id}") %></a></th>
        <th scope="row"><a href="<%= user_profile_path(sba.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.user_id}") %></a></th>
        <td>
          <%= sba.side_bet.outcome_description %>
        </td>
        <td>
          <% if sba.side_bet.won %>
            <a href="<%= user_profile_path(sba.side_bet.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.user_id}") %></a> wins <%= number_to_currency(sba.side_bet.proposer_payout) %>
          <% else %>
            <a href="<%= user_profile_path(sba.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.user_id}") %></a> wins <%= number_to_currency(sba.side_bet.acceptor_payout) %>
          <% end %>
        </td>
        <td>
          <%= sba.status.titleize %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>