<div class="container-fluid side-bet-container">
  <%= render "bet_navigation_tabs" %>

  <%= render "current_games", current_games: @current_games, current_week: @current_week, current_year: @current_year %>

  <%= render "active_season_bets", open_season_bets: @open_season_bets, season_bet_types: @season_bet_types, active_players: @active_players %>
</div>

<script>
  $(document).ready(function(){
    var aria_open = JSON.parse('<%= flash[:create_bet_error] || false %>');
    var season_open = JSON.parse('<%= flash[:create_season_bet_error] || false %>');
    var over_under_open = JSON.parse('<%= flash[:create_over_under_bet_error] || false %>');
    var weekly_open = JSON.parse('<%= flash[:create_weekly_bet_error] || false %>')
    if (aria_open) {
      $("#addBetModal").modal('show');
    }

    if (season_open) {
      $("#addSeasonBetModal").modal('show');
    }

    if (over_under_open) {
      $('#addOverUnderModal').modal('show');
    }

    if (weekly_open) {
      $('#addWeeklyBetModal').modal('show');
    }

    $('#weekly-bet-type-select').change(function () {
      const targetValue = event.target.value;
      if (targetValue === 'high_score') {
        $('#weekly-player-select-row').css("display", "none");
        $('#weekly-loser-select-row').css("display", "none");
        $('#weekly-winner-select-row').css("display", "flex");
        $('#weekly-over-select-row').css("display", "none");
        $('#weekly-line-select-row').css("display", "none");
      } else if (targetValue === 'pvp') {
        $('#weekly-player-select-row').css("display", "none");
        $('#weekly-loser-select-row').css("display", "flex");
        $('#weekly-winner-select-row').css("display", "flex");
        $('#weekly-over-select-row').css("display", "none");
        $('#weekly-line-select-row').css("display", "none");
      } else if (targetValue === 'over_under') {
        $('#weekly-player-select-row').css("display", "flex");
        $('#weekly-loser-select-row').css("display", "none");
        $('#weekly-winner-select-row').css("display", "none");
        $('#weekly-over-select-row').css("display", "flex");
        $('#weekly-line-select-row').css("display", "flex");
      }
    })
  });
</script>