<div class="container-fluid side-bet-container">
  <div class="row justify-content-center margin-below">
    <div class="btn-group" role="group">
      <a href="<%= side_hustles_path %>" class="btn btn-primary active">Active Bets</a>
      <a href="<%= pending_bets_path %>" type="button" class="btn btn-primary">Pending Payment</a>
      <a href="<%= resolved_bets_path %>" type="button" class="btn btn-primary">Resolved</a>
    </div>
  </div>

  <h3>Current Games</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Player 1</th>
        <th scope="col">P1 Projected</th>
        <th scope="col">Player 2</th>
        <th scope="col">P2 Projected</th>
        <th scope="col">Existing Bets</th>
        <th scope="col">Add Bet</th>
        <th scope="col">View Matchup</th>
      </tr>
      </thead>
      <tbody>
      <% @current_games.each do |game| %>
        <tr>
          <th scope="row"><a href="<%= user_profile_path(game.user_id) %>"><%= game.user.random_nickname %></a></th>
          <td><%= game.projected_total %></a></td>
          <th scope="row"><a href="<%= user_profile_path(game.opponent_id) %>"><%= game.opponent.random_nickname %></a></th>
          <td><%= game.opponent_projected_total %></td>
          <th></th>
          <td></td>
          <td><a href="https://fantasy.espn.com/football/fantasycast?leagueId=209719&matchupPeriodId=<%= @current_week %>&seasonId=<%= @current_year %>&teamId=<%= game.user.espn_id %>">View on ESPN</a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>