<div class="container-fluid side-bet-container">
  <div class="row justify-content-center margin-below">
    <div class="btn-group" role="group">
      <a href="<%= side_hustles_path %>" class="btn btn-primary active">Active Bets</a>
      <a href="<%= pending_bets_path %>" type="button" class="btn btn-primary">Pending Payment</a>
      <a href="<%= resolved_bets_path %>" type="button" class="btn btn-primary">Resolved</a>
    </div>
  </div>

  <h3>Current Games</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Player 1</th>
        <th scope="col">P1 Projected</th>
        <th scope="col">Player 2</th>
        <th scope="col">P2 Projected</th>
        <th scope="col">Existing Bets</th>
        <th scope="col">Add Bet</th>
        <th scope="col">View Matchup</th>
      </tr>
      </thead>
      <tbody>
      <% @current_games.each do |game| %>
        <tr>
          <th scope="row"><a href="<%= user_profile_path(game.user_id) %>"><%= game.user.random_nickname %></a></th>
          <td><%= game.projected_total.round(2) %></a></td>
          <th scope="row"><a href="<%= user_profile_path(game.opponent_id) %>"><%= game.opponent.random_nickname %></a></th>
          <td><%= game.opponent_projected_total.round(2) %></td>
          <th><ul>
            <% game.game_side_bets.each do |bet| %>
              <li>
                <%= Rails.cache.fetch("nickname_#{bet.user_id}") %>: <%= number_to_currency(bet.amount) %> on <%= Rails.cache.fetch("nickname_#{bet.predicted_winner_id}") %>
                <% if bet.line && !bet.line.zero? %>(<%= bet.line %>)<% end %>
                <% if bet.odds && bet.odds != '1:1' %>, paying <%= bet.odds %><img class="questionmark" data-toggle="tooltip" title="eg 3:2 means you get 3x the amount if you win, and pay 2x the amount if you lose" src="<%= image_path('tooltip.png') %>" /><% end %></li>
                <% if bet.user_id != current_user[:id] %>(<a href="#">Accept Bet</a>)<% end %>
            <% end %>
          </ul></th>
          <td>
            <% if game.started %>
              <span class="badge badge-danger">Game Started</span>
            <% else %>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBetModal">
                Add Bet
              </button>
              <div class="modal fade" id="addBetModal" tabindex="-1" role="dialog" aria-labelledby="addBetModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add Bet</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="<%= propose_game_bet_path %>" method="post">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="game_id" value="<%= game.id %>">
                        <div class="form-group">
                          <label for="winner-select">Predicted Winner:</label>
                          <select class="custom-select mr-sm-2" id="winner-select" name="predicted_winner_id">
                            <option value="<%= game.user_id %>"><%= game.user.random_nickname %></option>
                            <option value="<%= game.opponent_id %>"><%= game.opponent.random_nickname %></option>
                          </select>
                          <%= render "shared/errors", type: "predicted_winner_id" %>
                        </div>
                        <div class="form-group">
                          <label for="bet-amount">Bet Amount ($):</label>
                          <input type="number" step="1" id="bet-amount" name="amount">
                          <%= render "shared/errors", type: "amount" %>
                        </div>
                        <div class="form-group">
                          <label>Odds:</label>
                          <input class="odds-number" type="number" step="1" id="odds-for" name="odds_for" value="1"> to <input class="odds-number" type="number" step="1" id="odds-against" name="odds_against" value="1">
                          <img class="questionmark" data-toggle="tooltip" title="eg 3:2 means you would pay 3x the amount to any winners and receive 2x the amount from any losers" src="<%= image_path('tooltip.png') %>" />
                          <%= render "shared/errors", type: "odds" %>
                        </div>
                        <div class="form-group">
                          <label for="line-select">Line:</label>
                          <input type="number" value="0" step="0.1" id="line" name="line">
                          <img class="questionmark" data-toggle="tooltip" title="eg -2.5 means you bet that winner covers by at least 2.5 points" src="<%= image_path('tooltip.png') %>" />
                          <%= render "shared/errors", type: "line" %>
                        </div>
                        <div class="form-group">
                          <label for="limit-num-acceptances">Limit # of Takers:</label>
                          <input type="number" value="" step="1" id="limit-num-acceptances" name="acceptances_limit" min="1" max="9">
                          <img class="questionmark" data-toggle="tooltip" title="Max number of other players that can take your action; leave blank to provide no limit" src="<%= image_path('tooltip.png') %>" />
                        </div>
                        <div class="form-group">
                          <label for="limit-player-acceptances">Challenge Specific Players: <img class="questionmark" data-toggle="tooltip" title="If you want to challenge only specific players, select any number here. Select none to leave all eligible. You might need to shift-click to multi-select." src="<%= image_path('tooltip.png') %>" /></label>
                          <p>
                            <select name="acceptances_players[]" id="limit-player-acceptances" multiple>
                              <% @active_players.reject { |player| player.id == current_user[:id] }.each do |player| %>
                                <option value="<%= player.id %>"><%= player.random_nickname %></option>
                              <% end %>
                            </select>
                          </p>
                          <%= render "shared/errors", type: "possible_acceptances" %>
                        </div>
                        <button class="btn btn-primary" type="submit">Confirm</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
          </td>
          <td><a href="https://fantasy.espn.com/football/fantasycast?leagueId=209719&matchupPeriodId=<%= @current_week %>&seasonId=<%= @current_year %>&teamId=<%= game.user.espn_id %>">View on ESPN</a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function(){
    var aria_open = JSON.parse('<%= flash[:create_bet_error] || false %>');
    console.log(aria_open);
    if (aria_open) {
      $("#addBetModal").modal('show');
    }
  });
</script>