<div class="container-fluid side-bet-container">
  <form action="<%= side_hustles_path %>" method="get">
    <div class="row justify-content-center margin-below">
      <div class="col-xs-12 col-lg-5">
        <input type="date" class="form-control" id="starting_date" name="starting_date" class="inline" value="<%= @starting_date %>">
      </div>
      <div class="col-xs-12 col-lg-5">
        <input type="date" class="form-control" id="ending_date" name="ending_date" class="inline" value="<%= @ending_date %>">
      </div>
      <div class="col-xs-12 col-lg-2 align-self-center">
        <button type="submit" class="btn btn-primary mb-2">Go</button> <img class="questionmark" data-toggle="tooltip" title="'Created Dates' are in UTC" src="<%= image_path('tooltip.png') %>" />
      </div>
    </div>
  </form>
  <div class="row profile-header">
    <div class="col">
      <h1>Active Side Hustles</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Bet</th>
            <th scope="col">Amount</th>
            <th scope="col">Proposer</th>
            <th scope="col">Taker(s)</th>
            <th scope="col">Max Takers</th>
            <th scope="col">Created Date</th>
            <th scope="col">Closing Date</th>
            <th scope="col">Action(s)</th>
          </tr>
          </thead>
          <tbody>
          <% @side_bets.reject(&:completed).each do |side_bet| %>
            <tr>
              <td><%= side_bet.terms %></td>
              <td><%= '$%.2f' % side_bet.amount %></td>
              <td><a href="<%= user_profile_path(side_bet.user.id) %>"><%= side_bet.user.random_nickname %></a></td>
              <td>
                <% side_bet.side_bet_acceptances.map(&:user).each do |user| %>
                  <a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a>
                <% end %>
              </td>
              <td><%= side_bet.max_takers ? side_bet.max_takers.to_i : 'N/A'  %></td>
              <td><%= side_bet.created_at&.strftime('%m-%d-%Y') %></td>
              <td><%= side_bet.closing_date&.strftime('%m-%d-%Y') || 'N/A' %></td>
              <td>
                <% if side_bet.user.id == current_user[:id] %>
                  <a class="btn btn-success" href="<%= complete_side_bet_path(side_bet.id, 'proposer') %>" data-method="patch" role="button">Mark Won</a>
                  <a class="btn btn-danger" href="<%= complete_side_bet_path(side_bet.id, 'takers') %>" data-method="patch" role="button">Mark Lost</a>
                <% elsif side_bet.side_bet_acceptances.none? { |taker| taker.user.id == current_user[:id] } && !side_bet.maxed_out? && !side_bet.closed? %>
                  <a class="btn btn-primary" href="<%= accept_side_bet_path(side_bet.id) %>" data-method="post" role="button">Accept Bet</a>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row profile-header">
    <div class="col">
      <h1>Completed Side Hustles</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Bet</th>
            <th scope="col">Amount</th>
            <th scope="col">Proposer</th>
            <th scope="col">Taker(s)</th>
            <th scope="col">Won By</th>
            <th scope="col">Created Date</th>
            <th scope="col">Completed Date</th>
            <th scope="col">Paid Out</th>
          </tr>
          </thead>
          <tbody>
          <% @side_bets.select(&:completed).each do |side_bet| %>
            <tr>
              <td><%= side_bet.terms %></td>
              <td><%= '$%.2f' % side_bet.amount %></td>
              <td><a href="<%= user_profile_path(side_bet.user.id) %>"><%= side_bet.user.random_nickname %></a></td>
              <td>
                <% side_bet.side_bet_acceptances.map(&:user).each do |user| %>
                  <a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a>
                <% end %>
              </td>
              <td><%= side_bet.status.humanize %></td>
              <td><%= side_bet.created_at&.strftime('%m-%d-%Y') %></td>
              <td><%= side_bet.completed_date&.strftime('%m-%d-%Y') %></td>
              <td>
                <% if side_bet.side_bet_acceptances.none? %>
                  N/A
                <% else %>
                  <% side_bet.side_bet_acceptances.each do |acceptance| %>
                    <p>
                      <% if side_bet.won? && side_bet.user.id == current_user[:id] && !side_bet.paid? %>
                        <%= side_bet.won? ? 'From' : 'To' %> <%= acceptance.user.random_nickname %> <% if acceptance.paid? %>Yes<% else %><a class="btn btn-primary" href="<%= mark_as_paid_path(acceptance.id) %>" data-method="post" role="button">Mark as Paid</a><% end %>
                      <% elsif side_bet.lost? && acceptance.user.id == current_user[:id] && !acceptance.paid? %>
                        <%= side_bet.won? ? 'From' : 'To' %> <%= acceptance.user.random_nickname %> <% if acceptance.paid? %>Yes<% else %><a class="btn btn-primary" href="<%= mark_as_paid_path(acceptance.id) %>" data-method="post" role="button">Mark as Paid</a><% end %>
                      <% else %>
                        <%= side_bet.won? ? 'From' : 'To' %> <%= acceptance.user.random_nickname %> - <%= acceptance.paid? ? 'Yes' : 'No' %>
                      <% end %>
                    </p>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row profile-header">
    <div class="col">
      <h1>Propose Bet</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form action="<%= propose_bet_path %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="terms">Terms <img class="questionmark" data-toggle="tooltip" title="For example, 'Senghas -2.5 Patch, Week 3'" src="<%= image_path('tooltip.png') %>" /></label>
          <input type="text" class="form-control" id="terms" name="side_bet[terms]" placeholder="What are the terms?">
          <%= render "shared/errors", type: "terms" %>
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" name="side_bet[amount]" step="0.1">
          <%= render "shared/errors", type: "amount" %>
        </div>
        <div class="form-group">
          <label for="max_takers">Max Takers (Leave Blank if You Aren't a Pussy)</label>
          <input type="number" class="form-control" id="max_takers" name="side_bet[max_takers]" step="1">
          <%= render "shared/errors", type: "max_takers" %>
        </div>
        <div class="form-group">
          <label for="closing_date">Closing Date</label>
          <input type="date" class="form-control" id="closing_date" name="side_bet[closing_date]">
          <%= render "shared/errors", type: "closing_date" %>
        </div>
        <button type="submit" class="btn btn-primary">Propose</button>
      </form>
    </div>
  </div>
</div>