<div class="container-fluid side-bet-container">
  <div class="row justify-content-center margin-below">
    <div class="btn-group" role="group">
      <a href="<%= side_hustles_path %>" class="btn btn-primary">Active Bets</a>
      <a href="<%= pending_bets_path %>" type="button" class="btn btn-primary active">Pending Payment</a>
      <a href="<%= resolved_bets_path %>" type="button" class="btn btn-primary">Resolved</a>
    </div>
  </div>

  <h3>Pending Game Bets</h3>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Week</th>
        <th scope="col">Terms</th>
        <th scope="col">Amount</th>
        <th scope="col">Proposer</th>
        <th scope="col">Acceptor</th>
        <th scope="col">Game Projection</th>
        <th scope="col">Game Result</th>
        <th scope="col">Bet Outcome</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
        <% @pending_game_bets.each do |sba| %>
          <tr>
            <td><%= sba.side_bet.game.week %><% if sba.side_bet.game.season_year != Date.today.year %> (<%= sba.side_bet.game.season_year %>)<% end %></td>
            <td><%= sba.side_bet.terms_description %></td>
            <td><%= number_to_currency(sba.side_bet.amount) %><% if sba.side_bet.odds.present? %> (Paying <%= sba.side_bet.odds %>)<% end %></td>
            <th scope="row"><a href="<%= user_profile_path(sba.side_bet.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.user_id}") %></a></th>
            <th scope="row"><a href="<%= user_profile_path(sba.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.user_id}") %></a></th>
            <td>
              <a href="<%= user_profile_path(sba.side_bet.game.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.game.user_id}") %></a>: <%= sba.side_bet.game.projected_total.round(2) %> to
              <a href="<%= user_profile_path(sba.side_bet.game.opponent_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.game.opponent_id}") %></a>: <%= sba.side_bet.game.opponent_projected_total.round(2) %>
            </td>
            <td>
              <a href="<%= user_profile_path(sba.side_bet.game.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.game.user_id}") %></a>: <%= sba.side_bet.game.active_total.round(2) %> to
              <a href="<%= user_profile_path(sba.side_bet.game.opponent_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.game.opponent_id}") %></a>: <%= sba.side_bet.game.opponent_active_total.round(2) %>
            </td>
            <th scope="row">
              <% if sba.side_bet.predictor_won? %>
                <a href="<%= user_profile_path(sba.side_bet.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.user_id}") %></a> wins <%= number_to_currency(sba.side_bet.proposer_payout) %>
              <% else %>
                <a href="<%= user_profile_path(sba.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.user_id}") %></a> wins <%= number_to_currency(sba.side_bet.acceptor_payout) %>
              <% end %>
            </th>
            <td>
              <% if sba.awaiting_payment? && sba.loser_id == current_user[:id] %>
                <a href="" class="btn btn-success">Mark Payment Sent</a>
              <% elsif (sba.awaiting_payment? || sba.awaiting_confirmation?) && sba.winner_id == current_user[:id] %>
                <a href="<%= confirm_payment_received_path(sba.id) %>" class="btn btn-success" data-method="post">Confirm Payment Received</a>
              <% else %>
                <%= sba.status.titleize %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>