<div class="container-fluid side-bet-container">
  <div class="row justify-content-center margin-below">
    <div class="btn-group" role="group">
      <a href="<%= side_hustles_path %>" class="btn btn-primary">Active Bets</a>
      <a href="<%= pending_bets_path %>" type="button" class="btn btn-primary">Pending Payment</a>
      <a href="<%= resolved_bets_path %>" type="button" class="btn btn-primary active">Resolved</a>
    </div>
  </div>
  <form action="<%= resolved_bets_path %>" method="get">
    <div class="row justify-content-center margin-below">
      <div class="col-xs-3 col-lg-2 mobile-margin-below">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="year">
          <% (%w[ALL] + (2012..Date.today.year).to_a).reverse_each do |year| %>
            <% if year.to_s == @year.to_s %>
              <option selected value="<%= year %>"><%= year %></option>
            <% else %>
              <option value="<%= year %>"><%= year %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div class="col-xs-3 col-lg-2 mobile-margin-below">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="week">
          <% (%w[ALL] + (1..16).to_a).each do |week| %>
            <% if week.to_s == @week.to_s %>
              <option selected value="<%= week %>"><% if week == 'ALL' %>All Weeks<% else %>Week <%= week %><% end %></option>
            <% else %>
              <option value="<%= week %>"><% if week == 'ALL' %>All Weeks<% else %>Week <%= week %><% end %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div class="col-xs-3 col-lg-1">
        <div class="text-center">
          <button type="submit" class="btn btn-primary mb-2 min-width-button">Go</button>
        </div>
      </div>
    </div>
  </form>
  <h3>Resolved Game Bets for <%= @year == 'ALL' ? 'All Years' : @year %> - <%= @week == 'ALL' ? 'All Weeks' : "Week #{@week}" %></h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Week</th>
        <th scope="col">Terms</th>
        <th scope="col">Amount</th>
        <th scope="col">Proposer</th>
        <th scope="col">Taker</th>
        <th scope="col">Game Projection</th>
        <th scope="col">Game Result</th>
        <th scope="col">Bet Outcome</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <% @resolved_game_bets.each do |sba| %>
        <tr>
          <td><%= sba.side_bet.game.season_year %> - Week <%= sba.side_bet.game.week %></td>
          <td><%= sba.side_bet.terms_description %></td>
          <td><%= number_to_currency(sba.side_bet.amount) %><% if sba.side_bet.odds.present? && sba.side_bet.odds != '1:1' %> (Paying <%= sba.side_bet.odds %>)<% end %></td>
          <th scope="row"><a href="<%= user_profile_path(sba.side_bet.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.user_id}") %></a></th>
          <th scope="row"><a href="<%= user_profile_path(sba.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.user_id}") %></a></th>
          <td>
            <a href="<%= user_profile_path(sba.side_bet.game.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.game.user_id}") %></a>: <%= sba.side_bet.game.projected_total.round(2) %> to
            <a href="<%= user_profile_path(sba.side_bet.game.opponent_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.game.opponent_id}") %></a>: <%= sba.side_bet.game.opponent_projected_total.round(2) %>
          </td>
          <td>
            <a href="<%= user_profile_path(sba.side_bet.game.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.game.user_id}") %></a>: <%= sba.side_bet.game.active_total.round(2) %> to
            <a href="<%= user_profile_path(sba.side_bet.game.opponent_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.game.opponent_id}") %></a>: <%= sba.side_bet.game.opponent_active_total.round(2) %>
          </td>
          <th scope="row">
            <% if sba.side_bet.predictor_won? %>
              <a href="<%= user_profile_path(sba.side_bet.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.user_id}") %></a> wins <%= number_to_currency(sba.side_bet.proposer_payout) %>
            <% else %>
              <a href="<%= user_profile_path(sba.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.user_id}") %></a> wins <%= number_to_currency(sba.side_bet.acceptor_payout) %>
            <% end %>
          </th>
          <td>
            <%= sba.status.titleize %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <h3>Resolved Season Bets for <%= @year == 'ALL' ? 'All Years' : @year %></h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Season Year</th>
        <th scope="col">Bet Type</th>
        <th scope="col">Terms</th>
        <th scope="col">Amount</th>
        <th scope="col">Proposer</th>
        <th scope="col">Takers</th>
        <th scope="col">Final Results</th>
        <th scope="col">Bet Outcome</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <% @resolved_season_bets.each do |sba| %>
        <tr>
          <td><%= sba.side_bet.season_year %></td>
          <td><%= @season_bet_types[sba.side_bet.bet_type.to_sym] %></td>
          <td><%= sba.side_bet.terms_description %></td>
          <td><%= number_to_currency(sba.side_bet.amount) %><% if sba.side_bet.odds && sba.side_bet.odds != '1:1' %>, paying <%= sba.side_bet.odds %><img class="questionmark" data-toggle="tooltip" title="eg 3:2 means the proposer pays out 3x the amount if they lose, and gets 2x the amount if they win" src="<%= image_path('tooltip.png') %>" /><% end %></td>
          <th scope="row"><%= sba.side_bet.user.random_nickname %></th>
          <th scope="row"><%= sba.side_bet.side_bet_acceptances.map { |accpt| accpt.user.random_nickname }.join(', ') %></th>
          <td>
            <%= sba.side_bet.outcome_description %>
          </td>
          <td>
            <% if sba.side_bet.won %>
              <a href="<%= user_profile_path(sba.side_bet.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.side_bet.user_id}") %></a> wins <%= number_to_currency(sba.side_bet.proposer_payout) %>
            <% else %>
              <a href="<%= user_profile_path(sba.user_id) %>"><%= Rails.cache.fetch("nickname_#{sba.user_id}") %></a> wins <%= number_to_currency(sba.side_bet.acceptor_payout) %>
            <% end %>
          </td>
          <td>
            <%= sba.status.titleize %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>