<div class="container-fluid side-bet-container">
  <%= render "bet_navigation_tabs" %>
  <form action="<%= resolved_bets_path %>" method="get">
    <div class="row justify-content-center margin-below">
      <div class="col-xs-3 col-lg-2 mobile-margin-below">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="year">
          <% (%w[ALL] + (2012..Date.today.year).to_a).reverse_each do |year| %>
            <% if year.to_s == @year.to_s %>
              <option selected value="<%= year %>"><%= year %></option>
            <% else %>
              <option value="<%= year %>"><%= year %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div class="col-xs-3 col-lg-2 mobile-margin-below">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="week">
          <% (%w[ALL] + (1..16).to_a).each do |week| %>
            <% if week.to_s == @week.to_s %>
              <option selected value="<%= week %>"><% if week == 'ALL' %>All Weeks<% else %>Week <%= week %><% end %></option>
            <% else %>
              <option value="<%= week %>"><% if week == 'ALL' %>All Weeks<% else %>Week <%= week %><% end %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div class="col-xs-3 col-lg-1">
        <div class="text-center">
          <button type="submit" class="btn btn-primary mb-2 min-width-button">Go</button>
        </div>
      </div>
    </div>
  </form>
  <%= render "resolved_game_bets", year: @year, week: @week, resolved_game_bets: @resolved_game_bets %>

  <%= render "resolved_weekly_bets", year: @year, week: @week, resolved_weekly_bets: @resolved_weekly_bets, weekly_bet_types: @weekly_bet_types %>

  <%= render "resolved_season_bets", year: @year, resolved_season_bets: @resolved_season_bets, season_bet_types: @season_bet_types %>
</div>