<div class="container">
  <div class="row">
    <h1>
      <%= @user.nicknames[@nickname_idx].name %>
      <% if @user.nicknames[@nickname_idx].votes.none? { |vote| vote.user_id == current_user[:id] && vote.value.positive? } %>
      <a href="<%= nickname_upvote_path(@user.nicknames[@nickname_idx].id) %>" data-method="post"><img class="vote" src="<%= image_path('upvote.png') %>" /></a>
      <% end %>
      <% if @user.nicknames[@nickname_idx].votes.none? { |vote| vote.user_id == current_user[:id] && vote.value.negative? } %>
      <a href="<%= nickname_downvote_path(@user.nicknames[@nickname_idx].id) %>" data-method="post"><img class="vote" src="<%= image_path('downvote.png') %>" /></a>
      <% end %>
    </h1>
  </div>
  <div class="row profile-title">
    <div class="col-12">
      <% if @user.nicknames.count > 1 %>
      <% @user.nicknames.each_with_index do |nickname, idx| %>
        <% if idx != @nickname_idx %>
          <h4>
            aka <%= nickname.name %>
            <% if nickname.votes.none? { |vote| vote.user_id == current_user[:id] && vote.value.positive? } %>
            <a href="<%= nickname_upvote_path(nickname.id) %>" data-method="post"><img class="vote" src="<%= image_path('upvote.png') %>" /></a>
            <% end %>
            <% if nickname.votes.none? { |vote| vote.user_id == current_user[:id] && vote.value.negative? } %>
            <a href="<%= nickname_downvote_path(nickname.id) %>" data-method="post"><img class="vote" src="<%= image_path('downvote.png') %>" /></a>
            <% end %>
          </h4> 
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="row profile-header">
    <div class="col-6">
      <h2>FFB Record:</h2>
      <h3><%= @user.wins %> - <%= @user.losses %></h3>
    </div>
  </div>
  <div class="row profile-header">
    <div class="col-6">
      <h2>Side Hustle Record</h2>
      <h3><%= @user.side_bet_wins %> - <%= @user.side_bet_losses %></h3>
      <h3><%= @user.pending_side_bets %> bet(s) unresolved</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
    <% if current_user[:id] != @user.id %>
      <h2>Add Nickname</h2>
      <form action="<%= create_nickname_path %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="name">
        <%= render "shared/errors", type: "name" %>
        <button type="submit">Add</button>
      </form>
    <% else %>
      <h2>Change Password</h2>
      <% if flash[:password_success] %>
        <p class="success"><%= flash[:password_success] %></p>
      <% end %>
      <form action="<%= edit_password_path(@user.id) %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <label for="terms">Old Password</label>
          <input type="password" class="form-control" id="terms" name="old_password">
          <%= render "shared/errors", type: "old_password" %>
        </div>
        <div class="form-group">
          <label for="terms">New Password</label>
          <input type="password" class="form-control" id="terms" name="password">
          <%= render "shared/errors", type: "password" %>
        </div>
        <div class="form-group">
          <label for="amount">Confirm New Password</label>
          <input type="password" class="form-control" id="amount" name="password_confirmation">
          <%= render "shared/errors", type: "password_confirmation" %>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    <% end %>
    </div>
  </div>
</div>