<div class="container">
  <div class="row">
    <h1><%= @user.nicknames[@nickname_idx].name %><% if @user.nicknames.count > 1 %>*<% end %></h1>
  </div>
  <div class="row profile-title">
    <% if @user.nicknames.count > 1 %>
    <h4>*
      <% @user.nicknames.each_with_index do |nickname, idx| %>
        <% if idx != @nickname_idx %>
          aka <%= nickname.name %> 
        <% end %>
      <% end %>
    </h4>
    <% end %>
  </div>
  <div class="row profile-header">
    <div class="col-6">
      <h2>FFB Record:</h2>
      <h3><%= @user.wins %> - <%= @user.losses %></h3>
    </div>
  </div>
  <div class="row profile-header">
    <div class="col-6">
      <h2>Side Hustle Record</h2>
      <h3><%= @user.side_bet_wins %> - <%= @user.side_bet_losses %></h3>
      <h3><%= @user.pending_side_bets %> bet(s) unresolved</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
    <% if current_user[:id] != @user.id %>
      <h2>Add Nickname</h2>
      <form action="<%= create_nickname_path %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="name">
        <%= render "shared/errors", type: "name" %>
        <button type="submit">Add</button>
      </form>
    <% else %>
      <h2>Change Password</h2>
      <form action="<%= propose_bet_path %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="terms">New Password</label>
          <input type="password" class="form-control" id="terms" name="password">
          <%= render "shared/errors", type: "password" %>
        </div>
        <div class="form-group">
          <label for="amount">Confirm New Password</label>
          <input type="password" class="form-control" id="amount" name="password_confirmation">
          <%= render "shared/errors", type: "password_confirmation" %>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    <% end %>
    </div>
  </div>
</div>