<div class="container-fluid">
  <div class="row">
    <h1>
      <%= @user.nicknames[@nickname_idx].name %>
      <% if @user.id != current_user[:id] %>
        <% if @user.nicknames[@nickname_idx].votes.none? { |vote| vote.user_id == current_user[:id] && vote.value.positive? } %>
        <a href="<%= nickname_upvote_path(@user.nicknames[@nickname_idx].id) %>" data-method="post"><img class="vote" src="<%= image_path('upvote.png') %>" /></a>
        <% end %>
        <% if @user.nicknames[@nickname_idx].votes.none? { |vote| vote.user_id == current_user[:id] && vote.value.negative? } %>
        <a href="<%= nickname_downvote_path(@user.nicknames[@nickname_idx].id) %>" data-method="post"><img class="vote" src="<%= image_path('downvote.png') %>" /></a>
        <% end %>
      <% end %>
      <small class="<%= @user.nicknames[@nickname_idx].net_votes.positive? ? 'green' : (@user.nicknames[@nickname_idx].net_votes.negative? ? 'red' : 'black') %>">
        (<%= @user.nicknames[@nickname_idx].net_votes.positive? ? '+' : '' %><%= @user.nicknames[@nickname_idx].net_votes %> Votes)
      </small>
    </h1>
  </div>
  <div class="row profile-title">
    <div class="col-xs-12">
      <% if @user.nicknames.count > 1 %>
      <% @user.nicknames.each_with_index do |nickname, idx| %>
        <% if idx != @nickname_idx %>
          <h4>
            aka <%= nickname.name %>
            <% if @user.id != current_user[:id] %>
              <% if nickname.votes.none? { |vote| vote.user_id == current_user[:id] && vote.value.positive? } %>
              <a href="<%= nickname_upvote_path(nickname.id) %>" data-method="post"><img class="vote" src="<%= image_path('upvote.png') %>" /></a>
              <% end %>
              <% if nickname.votes.none? { |vote| vote.user_id == current_user[:id] && vote.value.negative? } %>
              <a href="<%= nickname_downvote_path(nickname.id) %>" data-method="post"><img class="vote" src="<%= image_path('downvote.png') %>" /></a>
              <% end %>
            <% end %>
            <small class="<%= nickname.net_votes.positive? ? 'green' : (nickname.net_votes.negative? ? 'red' : 'black') %>">
              (<%= nickname.net_votes.positive? ? '+' : '' %><%= nickname.net_votes %> Votes)
            </small>
          </h4> 
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="row profile-header">
    <div class="col-xs-12 col-md-6">
      <h2><img class="expand" data-toggle="collapse" data-target="#ffbrecord" aria-expanded="true" aria-controls="ffbrecord" src="<%= image_path('expand.png') %>" />
        FFB Record
      </h2>
      <div class="collapse table-responsive" id="ffbrecord">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Season</th>
            <th scope="col">Wins</th>
            <th scope="col">Losses</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">All Time</th>
              <th><%= @user.historical_wins %></th>
              <th><%= @user.historical_losses %></th>
            </tr>
            <% @involved_years.each do |year| %>
              <tr>
                <th scope="row"><%= year %></th>
                <th><%= @user.send("wins_#{year}") %></th>
                <th><%= @user.send("losses_#{year}") %></th>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row profile-header">
    <div class="col-xs-12 col-md-6">
      <h2><img class="expand" data-toggle="collapse" data-target="#sidebetrecord" aria-expanded="true" aria-controls="sidebetrecord" src="<%= image_path('expand.png') %>" /> Side Hustle Record</h2>
      <div class="collapse" id="sidebetrecord">
        <h3><%= @user.side_bet_wins %> - <%= @user.side_bet_losses %></h3>
        <h3><%= @user.pending_side_bets %> bet(s) unresolved</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
    <% if current_user[:id] != @user.id %>
      <h2><img class="expand" data-toggle="collapse" data-target="#addnickname" aria-expanded="true" aria-controls="addnickname" src="<%= image_path('expand.png') %>" /> Add Nickname</h2>
      <div class="collapse" id="addnickname">
        <form action="<%= create_nickname_path %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="text" name="name">
          <%= render "shared/errors", type: "name" %>
          <button type="submit">Add</button>
        </form>
      </div>
    <% else %>
      <h2><img class="expand" data-toggle="collapse" data-target="#changepassword" aria-expanded="true" aria-controls="changepassword" src="<%= image_path('expand.png') %>" /> Change Password</h2>
      <% if flash[:password_success] %>
        <p class="success"><%= flash[:password_success] %></p>
      <% end %>
      <div class="collapse" id="changepassword">
        <form action="<%= edit_password_path(@user.id) %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="PUT">
          <div class="form-group">
            <label for="terms">Old Password</label>
            <input type="password" class="form-control" id="terms" name="old_password">
            <%= render "shared/errors", type: "old_password" %>
          </div>
          <div class="form-group">
            <label for="terms">New Password</label>
            <input type="password" class="form-control" id="terms" name="password">
            <%= render "shared/errors", type: "password" %>
          </div>
          <div class="form-group">
            <label for="amount">Confirm New Password</label>
            <input type="password" class="form-control" id="amount" name="password_confirmation">
            <%= render "shared/errors", type: "password_confirmation" %>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    <% end %>
    </div>
  </div>
</div>