<a data-toggle="modal" data-target="#lineup<%= id %>" href="#"><%= year %> - Week <%= week %></a> vs <a href="<%= user_profile_path(opponent_id) %>"><%= Rails.cache.fetch("nickname_#{opponent_id}").presence || User.find(opponent_id).random_nickname %></a>

<%= render "shared/lineup", lineup: lineup, id: id %>