<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= home_path %>">Westhoochington</a>
  <div class="navbar-nav">
      <a class="nav-item nav-link" href="<%= home_path %>">Stats</a>
    <a class="nav-item nav-link" href="<%= over_unders_path %>">Over/Under Lines</a>
    <a class="nav-item nav-link" href="<%= side_hustles_path %>">Side Hustles</a>
    <a class="nav-item nav-link" href="<%= podcasts_path %>">WHIFFBP</a>
    <a class="nav-item nav-link" href="https://www.youtube.com/channel/UClIs_jVPFzlU70gulSD1plQ/videos">Trapgame Maestros</a>
    <a class="nav-item nav-link" href="<%= user_profile_path(current_user[:id]) %>">View Profile</a>
    <a class="nav-item nav-link" href="<%= destroy_user_session_path %>" data-method="delete">Log Out Like a Real Bitch</a>
  </div>
</nav>