<div class="container-fluid">
  <form action="<%= stats_path %>" method="get">
    <div class="row justify-content-center margin-below">
      <div class="col-xs-3 col-lg-2 mobile-margin-below">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="year">
          <% (2012..Date.today.year).reverse_each do |year| %>
            <% if year.to_i == @year.to_i %>
              <option selected value="<%= year %>"><%= year %></option>
            <% else %>
              <option value="<%= year %>"><%= year %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div class="col-xs-3 col-lg-2 mobile-margin-below">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="week">
          <% if @week %>
            <option value="season">Season Stats</option>
          <% else %>
            <option selected value="season">Season Stats</option>
          <% end %>
          <% (1..16).each do |week| %>
            <% if week.to_i == @week.to_i %>
              <option selected value="<%= week %>">Week <%= week %></option>
            <% else %>
              <option value="<%= week %>">Week <%= week %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <div class="col-xs-3 col-lg-1">
        <div class="text-center">
          <button type="submit" class="btn btn-primary mb-2 min-width-button">Go</button>
        </div>
      </div>
    </div>
  </form>
  <% if @week %>
    <div class="row justify-content-center">
      <div class="col">
        <div class="alert alert-primary text-center" role="alert">
          Narrowest Cucking of the Week (<%= @narrowest.margin_of_victory %>): <a href="<%= user_profile_path(@narrowest.winner.id) %>"><%= @narrowest.winner.random_nickname %></a> (<%= @narrowest.winning_score %>)
          - <a href="<%= user_profile_path(@narrowest.loser.id) %>"><%= @narrowest.loser.random_nickname %></a> (<%= @narrowest.losing_score %>)
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="alert alert-primary text-center" role="alert">
          High Score of the Week: <a href="<%= user_profile_path(@highest_score_game.user.id) %>"><%= @highest_score_game.user.random_nickname %></a> (<%= @highest_score_game.active_total %>)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Margin of Victory</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Player Points</th>
              <th scope="col">Opponent Points</th>
              <th scope="col">Margin of Victory</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| -a.send("margin_for_week_#{@year}", @week) }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <td><%= user.send("game_for_week_#{@year}", @week)&.active_total %></td>
                <td><%= user.send("game_for_week_#{@year}", @week)&.opponent_active_total %></td>
                <th scope="row"><%= user.send("margin_for_week_#{@year}", @week) %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Points Above Own Season Average</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Points Scored <% if @season.two_game_playoff? && @season.playoff_week?(@week) %>(Per Week)<% end %></th>
              <th scope="col">Season Average</th>
              <th scope="col">Diff</th>
              <th scope="col">Result</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| -a.send("points_above_average_for_week_#{@year}", @week) }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <td><%= user.send("game_for_week_#{@year}", @week)&.playoff_weighted_active_total %></td>
                <td><%= user.send("average_active_total_#{@year}") %></td>
                <th><%= user.send("points_above_average_for_week_#{@year}", @week) %></th>
                <td><% if user.send("game_for_week_#{@year}", @week)&.won? %>Won<% elsif user.send("game_for_week_#{@year}", @week)&.lost? %>Lost<% end %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Points Above Opponent Season Average</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Points Scored <% if @season.two_game_playoff? && @season.playoff_week?(@week) %>(Per Week)<% end %></th>
              <th scope="col">Opponent Season Average</th>
              <th scope="col">Diff</th>
              <th scope="col">Result</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| -a.send("points_above_opponent_average_for_week_#{@year}", @week) }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <td><%= user.send("game_for_week_#{@year}", @week)&.playoff_weighted_active_total %></td>
                <td><%= user.send("game_for_week_#{@year}", @week)&.opponent&.send("average_active_total_#{@year}") %></td>
                <th><%= user.send("points_above_opponent_average_for_week_#{@year}", @week) %></th>
                <td><% if user.send("game_for_week_#{@year}", @week)&.won? %>Won<% elsif user.send("game_for_week_#{@year}", @week)&.lost? %>Lost<% end %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% if @year.to_i >= 2018 %>
      <div class="col-xs-12 col-lg-6">
        <h3>Points Above Projection</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Actual</th>
              <th scope="col">Projected</th>
              <th scope="col">Above Projection</th>
              <th scope="col">Result</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| -a.send("points_above_projection_for_week_#{@year}", @week) }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <td><%= user.send("game_for_week_#{@year}", @week)&.active_total %></td>
                <td><%= user.send("game_for_week_#{@year}", @week)&.projected_total&.to_f&.round(2) %></td>
                <th scope="row"><%= user.send("points_above_projection_for_week_#{@year}", @week) %></th>
                <td><% if user.send("game_for_week_#{@year}", @week)&.won? %>Won<% elsif user.send("game_for_week_#{@year}", @week)&.lost? %>Lost<% end %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <% end %>
    </div>
  <% else %>
    <% if @completed %>
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <h3>Final Standings</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">User</th>
                <th scope="col">Record</th>
                <th scope="col">Points</th>
              </tr>
              </thead>
              <tbody>
              <% @users.sort_by { |a| a.seasons.detect(&:"#{@year}?").playoff_rank }.each_with_index do |user, idx| %>
                <tr>
                  <th scope="row"><%= (idx + 1).ordinalize %></th>
                  <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                  <th><%= user.send("wins_#{@year}") %> - <%= user.send("losses_#{@year}") %></th>
                  <td><%= user.send("calculated_stats_#{@year}").total_points %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Regular Season Standings</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Record</th>
              <th scope="col">Points</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| [-a.send("regular_wins_#{@year}"), -a.send("calculated_stats_#{@year}").regular_season_total_points] }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <th><%= user.send("regular_wins_#{@year}") %> - <%= user.send("regular_losses_#{@year}") %></th>
                <td><%= user.send("calculated_stats_#{@year}").regular_season_total_points %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Matchup Independent Records</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Record</th>
              <th scope="col">Win %</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| -a.send("calculated_stats_#{@year}").mir['points'] }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <td><%= user.send("calculated_stats_#{@year}").mir['record_string'] %></td>
                <td><%= user.send("calculated_stats_#{@year}").mir['points'] %>%</td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Most Weekly High Scores</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Scores</th>
              <th scope="col">Weeks</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| -a.send("calculated_stats_#{@year}").weekly_high_scores }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <th><%= user.send("calculated_stats_#{@year}").weekly_high_scores %></th>
                <td>
                  <% user.send("calculated_stats_#{@year}").high_score_weeks.each_with_index do |game, idx| %>
                    <a href="<%= stats_path(year: @year, week: game['week']) %>">Week <%= game['week'] %></a> vs <a href="<%= user_profile_path(game['opponent_id']) %>"><%= Rails.cache.fetch("nickname_#{game['opponent_id']}") %></a><% if idx + 1 != user.send("calculated_stats_#{@year}").weekly_high_scores %>,<% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Average Scoring Margin</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Avg Points</th>
              <th scope="col">Avg Opp. Points</th>
              <th scope="col">Avg Margin</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| -a.send("calculated_stats_#{@year}").average_margin }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <td><%= user.send("calculated_stats_#{@year}").average_points %></td>
                <td><%= user.send("calculated_stats_#{@year}").average_opponent_points %></td>
                <th><%= user.send("calculated_stats_#{@year}").average_margin %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>
          Most Lucky Wins <img class="questionmark" data-toggle="tooltip" title="Would have lost to Opponent's average score for the year" src="<%= image_path('tooltip.png') %>" />
        </h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Wins</th>
              <th scope="col">Games</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| -a.send("calculated_stats_#{@year}").lucky_wins }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <th><%= user.send("calculated_stats_#{@year}").lucky_wins %></th>
                <td>
                  <% user.send("calculated_stats_#{@year}").lucky_win_weeks.sort_by { |a| a['week'] }.each_with_index do |game, idx| %>
                    <a href="<%= stats_path(year: @year, week: game['week']) %>">Week <%= game['week'] %></a> vs <a href="<%= user_profile_path(game['opponent_id']) %>"><%= Rails.cache.fetch("nickname_#{game['opponent_id']}") %></a><% if (idx + 1) != user.send("calculated_stats_#{@year}").lucky_wins %>,<% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Most Unlucky Losses <img class="questionmark" data-toggle="tooltip" title="Would have beaten Opponent's average score for the year" src="<%= image_path('tooltip.png') %>" /></h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Losses</th>
              <th scope="col">Games</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| -a.send("calculated_stats_#{@year}").unlucky_losses }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <th><%= user.send("calculated_stats_#{@year}").unlucky_losses %></th>
                <td>
                  <% user.send("calculated_stats_#{@year}").unlucky_loss_weeks.sort_by { |a| a['week'] }.each_with_index do |game, idx| %>
                    <a href="<%= stats_path(year: @year, week: game['week']) %>">Week <%= game['week'] %></a> vs <a href="<%= user_profile_path(game['opponent_id']) %>"><%= Rails.cache.fetch("nickname_#{game['opponent_id']}") %></a><% if (idx + 1) != user.send("calculated_stats_#{@year}").unlucky_losses %>,<% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% if @year.to_i >= 2018 %>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Average Points Above Projection</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Avg Points</th>
              <th scope="col">Avg Proj Points</th>
              <th scope="col">Avg Above Projection</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| -a.send("calculated_stats_#{@year}").average_above_projection }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <td><%= user.send("calculated_stats_#{@year}").average_points %></td>
                <td><%= user.send("calculated_stats_#{@year}").average_projected_points %></td>
                <th><%= user.send("calculated_stats_#{@year}").average_above_projection %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Wins Above Projected</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Wins</th>
              <th scope="col">Projected Wins</th>
              <th scope="col">Diff</th>
            </tr>
            </thead>
            <tbody>
            <% @users.sort_by { |a| -a.send("calculated_stats_#{@year}").wins_above_projection }.each_with_index do |user, idx| %>
              <tr>
                <th scope="row"><%= (idx + 1).ordinalize %></th>
                <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
                <td><%= user.send("wins_#{@year}") %></td>
                <td><%= user.send("calculated_stats_#{@year}").projected_wins %></td>
                <th><%= user.send("calculated_stats_#{@year}").wins_above_projection %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <h3>Load Blowers Anonymous</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Year/Week</th>
              <th scope="col">Player</th>
              <th scope="col">Bid</th>
              <th scope="col">Bid Successful</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; @faab.biggest_load.each_with_index do |transaction, idx| %>
              <tr>
                <th scope="row"><%= @faab.biggest_load[[idx - 1, 0].max]&.dig('amount') == @faab.biggest_load[idx]&.dig('amount') ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><%= render "shared/user_link", user_id: transaction['user_id'] %></th>
                <th><%= transaction['year'] %> - Week <%= transaction['week'] %></th>
                <th><%= @players[transaction['player_id'].to_s].name %></th>
                <th scope="row"><%= number_to_currency(transaction['amount']) %></th>
                <th><%= transaction['success'] ? 'Yes' : 'No' %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <h3>Most Impactful Signings (Total)</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">User</th>
              <th scope="col">Year/Week</th>
              <th scope="col">Player</th>
              <th scope="col">Bid</th>
              <th scope="col">Points Scored ROS</th>
            </tr>
            </thead>
            <tbody>
            <% rank = 1; @faab.most_impactful.each_with_index do |transaction, idx| %>
              <tr>
                <th scope="row"><%= @faab.most_impactful[[idx - 1, 0].max]&.dig('points_scored') == @faab.most_impactful[idx]&.dig('points_scored') ? rank.ordinalize : (rank = rank + 1).ordinalize %></th>
                <th><%= render "shared/user_link", user_id: transaction['user_id'] %></th>
                <th><%= transaction['year'] %> - Week <%= transaction['week'] %></th>
                <th><%= @players[transaction['player_id'].to_s].name %></th>
                <th><%= number_to_currency(transaction['amount']) %></th>
                <th><%= transaction['points_scored'] %></th>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
