<div class="container">
  <div class="row">
    <ul class="horizontal_list">
      <% (2015..Date.today.year).each do |year| %>
        <% if year != @year %>
          <li><a href="<%= season_stats_path(year) %>"><%= year %></a></li>
        <% else %>
          <li><%= year %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="row">
    <h1>Season Stats | <a href="<%= weekly_stats_path('current') %>">Weekly Stats</a></h1>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Current Standings</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Record</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          <% @users.sort_by { |a| [-a.send("wins_#{@year}"), -a.send("yearly_active_total_#{@year}")] }.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= idx + 1 %></th>
              <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
              <th><%= user.send("wins_#{@year}") %> - <%= user.send("losses_#{@year}") %></th>
              <td><%= user.send("yearly_active_total_#{@year}") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <h3>Matchup Independent Records</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Record</th>
          </tr>
        </thead>
        <tbody>
          <% @users.sort_by { |a| -a.matchup_independent_record(@games).split(' - ').first.to_i }.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= idx + 1 %></th>
              <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
              <td><%= user.matchup_independent_record(@games) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Most Weekly High Scores</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Weekly High Scores</th>
            <th scope="col">Weeks</th>
          </tr>
        </thead>
        <tbody>
          <% @users.sort_by { |a| -a.send("total_high_weekly_scores_#{@year}", @games) }.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= idx + 1 %></th>
              <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
              <th><%= user.send("total_high_weekly_scores_#{@year}", @games) %></th>
              <td>
                <% user.send("games_#{@year}").select { |g| g.weekly_high_score?(@games) }.sort_by { |a| a.week }.each_with_index do |game, idx| %>
                <a href="<%= weekly_stats_path(game.week) %>">Week <%= game.week %></a> vs <a href="<%= user_profile_path(game.opponent.id) %>"><%= game.opponent.random_nickname %></a><% if idx + 1 != user.send("total_high_weekly_scores_#{@year}", @games) %>,<% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <h3>Average Scoring Margin</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">User</th>
          <th scope="col">Average Points</th>
          <th scope="col">Average Opponent Points</th>
          <th scope="col">Average Scoring Margin</th>
        </tr>
        </thead>
        <tbody>
        <% @users.sort_by { |a| -a.send("average_scoring_margin_#{@year}") }.each_with_index do |user, idx| %>
          <tr>
            <th scope="row"><%= idx + 1 %></th>
            <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
            <td><%= user.send("average_active_total_#{@year}") %></td>
            <td><%= user.send("average_opponent_active_total_#{@year}") %></td>
            <th><%= user.send("average_scoring_margin_#{@year}") %></th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Most Lucky Wins*</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Lucky Wins</th>
            <th scope="col">Games</th>
          </tr>
        </thead>
        <tbody>
          <% @users.sort_by { |a| -a.send("lucky_wins_#{@year}") }.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= idx + 1 %></th>
              <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
              <th><%= user.send("lucky_wins_#{@year}") %></th>
              <td>
                <% user.send("games_#{@year}").select(&:lucky?).sort_by { |a| a.week }.each_with_index do |game, idx| %>
                <a href="<%= weekly_stats_path(game.week) %>">Week <%= game.week %></a> vs <a href="<%= user_profile_path(game.opponent.id) %>"><%= game.opponent.random_nickname %></a><% if idx + 1 != user.send("lucky_wins_#{@year}") %>,<% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      *<small>Would have lost to Opponent's average score for the year</small>
    </div>
    <div class="col-6">
      <h3>Most Unlucky Losses*</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Unlucky Losses</th>
            <th scope="col">Games</th>
          </tr>
        </thead>
        <tbody>
          <% @users.sort_by { |a| -a.send("unlucky_losses_#{@year}") }.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= idx + 1 %></th>
              <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
              <th><%= user.send("unlucky_losses_#{@year}") %></th>
              <td>
                <% user.send("games_#{@year}").select(&:unlucky?).sort_by { |a| a.week }.each_with_index do |game, idx| %>
                  <a href="<%= weekly_stats_path(game.week) %>">Week <%= game.week %></a> vs <a href="<%= user_profile_path(game.opponent.id) %>"><%= game.opponent.random_nickname %></a><% if idx + 1 != user.send("unlucky_losses_#{@year}") %>,<% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      *<small>Would have beaten Opponent's average score for the year</small>
    </div>
  </div>
  <div class="row">
    <% if @year.to_i < 2018 %>
      <div class="col-12">
        <h4>Projection-related stats are not available prior to 2018</h4>
      </div>
    <% else %>
      <div class="col-6">
        <h3>Average Points Above Projection</h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Average Points</th>
            <th scope="col">Average Projected Points</th>
            <th scope="col">Average Points Above Projection</th>
          </tr>
          </thead>
          <tbody>
          <% @users.sort_by { |a| -a.send("average_points_above_projection_#{@year}") }.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= idx + 1 %></th>
              <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
              <td><%= user.send("average_active_total_#{@year}") %></td>
              <td><%= user.send("average_projected_total_#{@year}") %></td>
              <th><%= user.send("average_points_above_projection_#{@year}") %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <h3>Wins Above Projected</h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">User</th>
            <th scope="col">Wins</th>
            <th scope="col">Projected Wins</th>
            <th scope="col">Diff</th>
          </tr>
          </thead>
          <tbody>
          <% @users.sort_by { |a| -a.send("wins_above_projections_#{@year}") }.each_with_index do |user, idx| %>
            <tr>
              <th scope="row"><%= idx + 1 %></th>
              <td><a href="<%= user_profile_path(user.id) %>"><%= user.random_nickname %></a></td>
              <td><%= user.send("wins_#{@year}") %></td>
              <td><%= user.send("projected_wins_#{@year}") %></td>
              <th><%= user.send("wins_above_projections_#{@year}") %></th>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
