<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col">
        <p>Select Season / Week:</p>
      </div>
      <div class="col">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected value="<%= @year %>"><%= @year %></option>
          <% ((2012..Date.today.year).to_a - [@year.to_i]).each do |year| %>
            <option value="<%= year %>"><%= year %></option>
          <% end %>
        </select>
      </div>
      <div class="col">
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected value="<%= @week || 'season' %>"><%= @week || 'Season Stats' %></option>
          <% (1..17).each do |week| %>
            <option value="<%= week %>">Week <%= week %></option>
          <% end %>
        </select>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary mb-2">Go</button>
      </div>
    </div>
  </form>
  <h1 class="centered">OOPS! There are no games for Week <%= @week %>, <%= @year %></h1>
</div>
