<% if flash[:register] %>
<style>
    #login {
        display: none;
    }
    #register {
        display: block;
    }
</style>
<% end %>

<div class="welcome">
    <div id="overlay">
        <form action="<%= register_path %>" id="register" method="post">
            <h1>Haven't registered yet, you lazy fuck?</h1>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="email" name="user[email]" placeholder="Email Address">
            <%= render "shared/errors", type: "email" %>
            <input type="password" name="user[password]" placeholder="Password">
            <%= render "shared/errors", type: "password" %>
            <p class="error">*It's gonna complain if yours is shitty</p>
            <input type="password" name="user[password_confirmation]" placeholder="Confirm Password">
            <%= render "shared/errors", type: "password_confirmation" %>
            <button type="submit">Register</button>

            <p><a href="#" class="flip">Done this already? Click here</a></p>
        </form>

        <form action="<%= user_session_path %>" id="login" method="post">
            <h1>Which one of you assholes is this?</h1>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="email" name="user[email]" placeholder="Email Address">
            <input type="password" name="user[password]" placeholder="Password">
            <% if flash[:alert] %>
                <%= render "shared/errors", type: "alert" %>
            <% end %>
            <button type="submit">Login</button>
            <p>
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
              <% end -%>
            </p>

            <p><a href="#" class="flip">Haven't registered yet? Click here to sign up</a></p>
        </form>
    </div>
</div>

<%= render "devise/shared/links" %>