<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Weekly Westhoochington - <%= @year %> #<%= @week %></h1>
<h3>High Score</h3>
<p><%= @high_score_message %></p>
<h3>Narrowest Cucking of the Week</h3>
<p><%= @narrowest_cucking_message %></p>
<h3>Biggest T-Bagging of the Week</h3>
<p><%= @biggest_bagging_message %></p>
<% if @week > 1 && @games.none?(&:playoff?) %>
  <h3>Biggest Over-Performer</h3>
  <p><%= @overperformer_message %></p>
<% end %>
<h3>Projections, Shmrojections</h3>
<p><%= @projections_message %></p>
<h3><%= @mis_header %></h3>
<% @mis_body_lines.each do |line| %>
  <p><%= line.html_safe %></p>
<% end %>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Record</th>
      <th>Win %</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
    <% @users.sort_by { |a| -a.points_for_mir(a.matchup_independent_record(@season_games)) }.each_with_index do |user, idx| %>
      <tr>
        <th scope="row"><%= (idx + 1).ordinalize %></th>
        <td><a href="<%= user_profile_url(user.id) %>"><%= user.random_nickname %></a></td>
        <td><%= user.matchup_independent_record(@season_games) %></td>
        <td><%= user.points_for_mir(user.matchup_independent_record(@season_games)) %>%</td>
        <td><%= user.send("average_active_total_#{@year}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Current Standings</h3>
<p><%= @standings_message %></p>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>W/L</th>
      <th>Points</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
    <% @users.sort_by { |a| [-a.send("regular_wins_#{@year}"), -a.send("regular_yearly_active_total_#{@year}")] }.each_with_index do |user, idx| %>
      <tr>
        <th scope="row"><%= (idx + 1).ordinalize %></th>
        <td><a href="<%= user_profile_url(user.id) %>"><%= user.random_nickname %></a></td>
        <td><%= user.send("regular_wins_#{@year}") %> - <%= user.send("regular_losses_#{@year}") %></td>
        <td><%= user.send("regular_yearly_active_total_#{@year}") %></td>
        <td><%= user.send("average_active_total_#{@year}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Over/Unders</h3>
<% if @new_over_unders.size.positive? || @new_over_under_lines.size.positive? || @new_over_under_bets.size.positive? %>
  <% if @new_over_unders.size.positive? %>
    <p>New Over/Unders:</p>
    <ul>
      <% @new_over_unders.each do |over_under| %>
        <li><%= over_under.user.random_nickname %>: "<%= over_under.description %>"</li>
      <% end %>
    </ul>
  <% end %>
  <% if @new_over_under_lines.size.positive? %>
    <p>New Lines:</p>
    <ul>
      <% @new_over_under_lines.each do |line| %>
        <li><%= line.user.random_nickname %>: <%= line.value %> on "<%= line.over_under.description %>"</li>
      <% end %>
    </ul>
  <% end %>
  <% if @new_over_under_bets.size.positive? %>
    <p>New Bets:</p>
    <ul>
      <% @new_over_under_bets.each do |bet| %>
        <li><%= bet.user.random_nickname %>: <%= bet.direction %> on <%= bet.line.value %> for "<%= bet.line.over_under.description %>"</li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>Nobody added any over-unders this week. Booooorrrriinnngggggg</p>
<% end %>
<h3>Movers and Shakers</h3>
<% if @trend_breakers[:tie].empty? && @trend_breakers[:lead].empty? %>
<p>Nobody broke any historical trends this week. Guess sometimes the earth just keeps turning...</p>
<% else %>
  <% @trend_breakers[:tie].each do |game| %>
    <p><%= game.user.random_nickname %> managed to get out of the hole against <%= game.opponent.random_nickname %>, bringing their historical record to an even <%= game.user.lifetime_record_against(game.opponent) %></p>
  <% end %>
  <% @trend_breakers[:lead].each do |game| %>
    <p><%= game.user.random_nickname %> claimed a lead against <%= game.opponent.random_nickname %>, bringing their historical record up to <%= game.user.lifetime_record_against(game.opponent) %></p>
  <% end %>
  <% @trend_breakers[:trend].each do |game| %>
    <p><%= game.user.random_nickname %> found a rare win against <%= game.opponent.random_nickname %>, although they still have room to improve their lackluster <%= game.user.lifetime_record_against(game.opponent) %> lifetime record in the matchup.</p>
  <% end %>
<% end %>
<% if @record_setters.values.any?(&:present?) %>
  <h3>Into the Record Books</h3>
<p>The record books got a shake up this week.</p>
<% if @record_setters[:high_scores].present? %>
  <p>We had <%= @record_setters[:high_scores].size %> new <%= @record_setters[:high_scores].size == 1 ? 'entry' : 'entries' %> into the Top 10 all-time high scores:</p>
<ul>
  <% @record_setters[:high_scores].each do |game| %>
    <li><a href="<%= user_profile_url(game[:player_id]) %>"><%= Rails.cache.fetch("nickname_#{game[:player_id]}") %></a> moved into <%= game[:rank].ordinalize %> place with a stellar <%= game[:score].round(2) %> points against <a href="<%= user_profile_url(game[:opponent_id]) %>"><%= Rails.cache.fetch("nickname_#{game[:opponent_id]}") %></a></li>
  <% end %>
</ul>
  <% end %>
<% if @record_setters[:low_scores].present? %>
    <p>We had <%= @record_setters[:low_scores].size %> shameful new <%= @record_setters[:low_scores].size == 1 ? 'entry' : 'entries' %> into the Top 10 all-time low scores:</p>
    <ul>
      <% @record_setters[:low_scores].each do |game| %>
        <li><a href="<%= user_profile_url(game[:player_id]) %>"><%= Rails.cache.fetch("nickname_#{game[:player_id]}") %></a> moved into "<%= game[:rank].ordinalize %> place" with a lackluster <%= game[:score].round(2) %> points against <a href="<%= user_profile_url(game[:opponent_id]) %>"><%= Rails.cache.fetch("nickname_#{game[:opponent_id]}") %></a></li>
      <% end %>
    </ul>
  <% end %>
<% if @record_setters[:large_margins].present? %>
    <p>We had <%= @record_setters[:large_margins].size %> new <%= @record_setters[:large_margins].size == 1 ? 'entry' : 'entries' %> into the Top 10 all-time biggest T-Baggings:</p>
    <ul>
      <% @record_setters[:large_margins].each do |game| %>
        <li><a href="<%= user_profile_url(game[:player_id]) %>"><%= Rails.cache.fetch("nickname_#{game[:player_id]}") %></a> moved into <%= game[:rank].ordinalize %> place with a <%= game[:margin].round(2) %> point blowout against <a href="<%= user_profile_url(game[:opponent_id]) %>"><%= Rails.cache.fetch("nickname_#{game[:opponent_id]}") %></a>, putting up <%= game[:score] %> to <%= game[:opponent_score] %></li>
      <% end %>
    </ul>
  <% end %>
<% if @record_setters[:narrow_margins].present? %>
    <p>We had <%= @record_setters[:narrow_margins].size %> new <%= @record_setters[:narrow_margins].size == 1 ? 'entry' : 'entries' %> into the Top 10 all-time narrowest cuckings:</p>
    <ul>
      <% @record_setters[:narrow_margins].each do |game| %>
        <li><a href="<%= user_profile_url(game[:player_id]) %>"><%= Rails.cache.fetch("nickname_#{game[:player_id]}") %></a> has the dubious honor of <%= game[:rank].ordinalize %> place all-time with a <%= game[:margin].round(2).abs %> defeat at the hands of <a href="<%= user_profile_url(game[:opponent_id]) %>"><%= Rails.cache.fetch("nickname_#{game[:opponent_id]}") %></a>, putting up <%= game[:score] %> to <%= game[:opponent_score] %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>


  </body>
</html>