<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Weekly Westhoochington - <%= @year %> #<%= @week %></h1>
<h3>High Score</h3>
<p><%= @high_score_message %></p>
<h3>Narrowest Cucking of the Week</h3>
<p><%= @narrowest_cucking_message %></p>
<h3>Biggest T-Bagging of the Week</h3>
<p><%= @biggest_bagging_message %></p>
<% if @week > 1 && @games.none?(&:playoff?) %>
  <h3>Biggest Over-Performer</h3>
  <p><%= @overperformer_message %></p>
<% end %>
<% if @outprojector.send("points_above_projection_for_week_#{@year}", @week).positive? %>
<h3>Projections, Shmrojections</h3>
<p><%= @projections_message %></p>
<% end %>
<h3><%= @mis_header %></h3>
<% @mis_body_lines.each do |line| %>
  <p><%= line.html_safe %></p>
<% end %>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Record</th>
      <th>Win %</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
    <% @users.sort_by { |a| -a.points_for_mir(a.matchup_independent_record(@season_games)) }.each_with_index do |user, idx| %>
      <tr>
        <th scope="row"><%= (idx + 1).ordinalize %></th>
        <td><a href="<%= user_profile_url(user.id) %>"><%= user.random_nickname %></a></td>
        <td><%= user.matchup_independent_record(@season_games) %></td>
        <td><%= user.points_for_mir(user.matchup_independent_record(@season_games)) %>%</td>
        <td><%= user.send("average_active_total_#{@year}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Current Standings</h3>
<p><%= @standings_message %></p>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>W/L</th>
      <th>Points</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
    <% @users.sort_by { |a| [-a.send("regular_wins_#{@year}"), -a.send("regular_yearly_active_total_#{@year}")] }.each_with_index do |user, idx| %>
      <tr>
        <th scope="row"><%= (idx + 1).ordinalize %></th>
        <td><a href="<%= user_profile_url(user.id) %>"><%= user.random_nickname %></a></td>
        <td><%= user.send("regular_wins_#{@year}") %> - <%= user.send("regular_losses_#{@year}") %></td>
        <td><%= user.send("regular_yearly_active_total_#{@year}") %></td>
        <td><%= user.send("average_active_total_#{@year}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>Over/Unders</h3>
<% if @new_over_unders.size.positive? || @new_over_under_lines.size.positive? || @new_over_under_bets.size.positive? %>
  <% if @new_over_unders.size.positive? %>
    <p>New Over/Unders:</p>
    <ul>
      <% @new_over_unders.each do |over_under| %>
        <li><%= over_under.user.random_nickname %>: "<%= over_under.description %>"</li>
      <% end %>
    </ul>
  <% end %>
  <% if @new_over_under_lines.size.positive? %>
    <p>New Lines:</p>
    <ul>
      <% @new_over_under_lines.each do |line| %>
        <li><%= line.user.random_nickname %>: <%= line.value %> on "<%= line.over_under.description %>"</li>
      <% end %>
    </ul>
  <% end %>
  <% if @new_over_under_bets.size.positive? %>
    <p>New Bets:</p>
    <ul>
      <% @new_over_under_bets.each do |bet| %>
        <li><%= bet.user.random_nickname %>: <%= bet.direction %> on <%= bet.line.value %> for "<%= bet.line.over_under.description %>"</li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>Nobody added any over-unders this week. Booooorrrriinnngggggg</p>
<% end %>
</body>
</html>