<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <h3>WHIFFB Podcasts</h3>
      <form action="<%= upload_podcast_path %>" method="post" enctype="multipart/form-data" class="directUpload" data-form-data="<%= @s3_direct_post.fields.to_json %>" data-url="<%= @s3_direct_post.url %>" data-host="<%= URI.parse(@s3_direct_post.url).host %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="terms">Select Podcast</label>
          <input type="file" class="form-control" id="podcast" name="podcast">
          <%= render "shared/errors", type: "podcast" %>
        </div>
        <div class="form-group">
          <label for="amount">Year</label>
          <input type="text" class="form-control" id="year" name="year">
          <%= render "shared/errors", type: "year" %>
        </div>
        <div class="form-group">
          <label for="terms">Week</label>
          <input type="text" class="form-control" id="week" name="week">
          <%= render "shared/errors", type: "week" %>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </div>
</div>